.container {
    width: 100%;
    padding: 20px;
}

.media {
    padding: 20px;
    /* border: 1px solid black; */
    border-radius: 3px;
    margin: 10px 0px;
    max-width: 100%;
    /* text-align:  */
}

.jumbotron {
    padding: 20px;
}

h3 {
    text-align: center;
    margin: 10px;
}

h4 {
    color: white;
}

img {
    max-width: 150px;
    max-height: 100px;
}

.grn {
    background-color: green;
}

.dem {
    background-color: blue;
}

.repb {
    background-color: red;
}

.lib {
    background-color: rgba(197, 194, 0, 0.932);
}

footer {
    text-align: center;
    clear: both;
    background-color: #666;
    color: #fff;
    font-size: 12px;
    padding: 30px 0px;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    position: absolute;
    bottom: 0;
}