html {
    position: relative;
    min-height: 100%;
}


/* .container {
    padding: 20px;
} */

/* .media {
    padding: 20px;
    border-radius: 3px;
    margin: 10px 0px;
    max-width: 100%;
} */

/* .jumbotron {
    padding: 10px;
} */

h3 {
    text-align: center;
    margin: 10px;
}

/* h4 {
    color: white;

} */

img {
    text-align: center;
    width: 200px;
    height: auto;
}

.card {
    margin: 10px;
}

  
/* NEWWWWWWW */
#vote-card {
    box-sizing: border-box;
    padding: 20px;
}

.card-body {
    padding: 15px;
}

#article-list {
    margin: 10px;
}



/* .grn {
    background-color: green;
}

.dem {
    background-color: blue;
}

.repb {
    background-color: red;
}

.lib {
    background-color: rgba(197, 194, 0, 0.932);
} */

footer {
    text-align: center;
    clear: both;
    background-color: #666;
    color: #fff;
    font-size: 12px;
    padding: 30px 0px;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    position: absolute;
    bottom: 0;
}